// IMPORTS:
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed&display=swap');

// GLOBAL:
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

body {
	background: image_url('beanstalk.png');
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif",
		"Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

a {
	color: black;
}
// ERRORS:
.invalid-feedback {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
}

// PAGINATION:
.page-item.active .page-link {
	z-index: 2;
	color: #fff;
	background-color: #ff0000;
	border-color: #ff0000;
	padding: 2px 8px;
}

.page-link {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: black;
	background-color: #fff;
	border: 1px solid #ddd;
}

// FONTS:
h1 {
	font-family: 'Sigmar One', cursive;
	text-shadow: 0 0 3px #ff0000;
	text-decoration: none;
	color: black;
}

i {
	font-family: 'Chilanka', cursive;
}

p {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-size: 18px;
}

// NAVBAR:
.navbar {
	background: image_url('memphis-mini-dark.png');
	box-shadow: 0px 1px 3px #2a2a2a;
	border-bottom: solid 1px #ff0000;
}

.navbar-inverse .navbar-brand {
	text-shadow: 0 0 5px #ff0000;
	font-family: 'Righteous', cursive;
	font-size: 26px;
}

// CONTENT:
.booyah-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box-shadow: 1px 1px 2px 0 #d0d0d0;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 20px;
}
